%transition {
    transition: all .5s ease 0s;
}

%font-family-main {
    font-family: "Aleo", serif;
}

%font-family-add {
    font-family: "Red Hat Text ",sans-serif;
}
%flex_sp-betw_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
