/*font-family: 'Aleo', serif;
font-family: 'Magra', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Red Hat Text', sans-serif;*/
.navigation__link a:hover, .button {
  transition: all 0.5s ease 0s;
}

.footer__text, .slider__item-text, .button, h2, body {
  font-family: "Red Hat Text ", sans-serif;
}

.footer-navigation__links, .tool__icon, .navigation, .search-panel, .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 10px;
}

body {
  font-size: 2.4rem;
  font-weight: 500;
  font-style: normal;
  color: #F2785C;
  font-family: "Aleo", serif;
}

h1 {
  font-size: 8rem;
  font-weight: 700;
  font-style: normal;
  color: white;
  line-height: 9.6rem;
}
@media (min-width: 391px) and (max-width: 1200px) {
  h1 {
    line-height: calc(2rem + 5vw);
    font-size: calc(2rem + 5vw);
  }
}
@media (max-width: 390px) {
  h1 {
    display: none;
  }
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 391px) and (max-width: 768px) {
  h4 {
    font-size: calc(0.61rem + 1.5vw);
  }
}
@media (max-width: 390px) {
  h4 {
    font-size: 1rem;
  }
}

p {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}

.button {
  background-color: #0D606F;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(32, 48, 25, 0.5);
  color: black;
}

.header__button {
  padding: 10px 31px;
  font-size: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  line-height: 21px;
  letter-spacing: 0.1rem;
}
@media (max-width: 768px) {
  .header__button {
    display: none;
  }
}

.input__button {
  padding: 14px 33px;
  font-size: 2.4rem;
  letter-spacing: 0.06rem;
  line-height: 32px;
}
@media (max-width: 768px) {
  .input__button {
    padding: 7.5px 8px;
    line-height: 15px;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: normal;
  }
}

.button__link {
  display: flex;
  justify-content: center;
}

.link-button__text {
  padding-left: 13px;
}
@media (max-width: 768px) {
  .link-button__text {
    padding-left: 3px;
  }
}

.button__link-container {
  padding: 18px 35px 18px 36px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .button__link-container {
    justify-content: center;
    padding: 10px 17px 10px 15px;
    font-size: 11px;
  }
}

.burger-menu_button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  z-index: 10;
  left: calc(100vw - 70px);
  display: none;
}
@media (max-width: 768px) {
  .burger-menu_button {
    display: block;
  }
}
@media (max-width: 390px) {
  .burger-menu_button {
    width: 26.25px;
    height: 26.25px;
    top: 46px;
    left: calc(100vw - 50.38px);
  }
}

.burger-menu_lines:before,
.burger-menu_lines:after,
.burger-menu_lines {
  position: absolute;
  width: 100%;
  height: 2.67px;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}

.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines:before {
  content: "";
  top: -6.67px;
}
.burger-menu_lines:after {
  content: "";
  top: 6.67px;
}

@media (max-width: 390px) {
  .burger-menu_lines.active {
    background-color: transparent;
  }
  .burger-menu_lines.active::before {
    width: 20px;
    height: 1.5px;
    top: -36px;
    left: -103px;
    transform: rotate(45deg);
  }
  .burger-menu_lines.active::after {
    width: 20px;
    height: 1.5px;
    transform: rotate(-45deg);
    top: -36px;
    left: -103px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  .burger-menu_lines.active {
    background-color: transparent;
  }
  .burger-menu_lines.active::before {
    width: 20px;
    height: 1.5px;
    top: -19px;
    left: -79px;
    transform: rotate(45deg);
  }
  .burger-menu_lines.active::after {
    width: 20px;
    height: 1.5px;
    transform: rotate(-45deg);
    top: -19px;
    left: -79px;
  }
}

.logo-object:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.icon-bicycle {
  background-image: url("/assets/svg/bicycle.svg");
  width: 50px;
  height: 45px;
}
@media (max-width: 390px) {
  .icon-bicycle {
    background-image: url("/assets/svg/bicycle_min.svg");
    width: 35px;
    height: 31.5px;
  }
}

.icon-calendar {
  background-image: url("/assets/svg/calendar.svg");
  width: 52px;
  height: 52px;
}
@media (max-width: 390px) {
  .icon-calendar {
    background-image: url("/assets/svg/calendar_min.svg");
    width: 35px;
    height: 35px;
  }
}

.icon-plane {
  background-image: url("/assets/svg/plane.svg");
  width: 60px;
  height: 45px;
}
@media (max-width: 390px) {
  .icon-plane {
    background-image: url("/assets/svg/plane_min.svg");
    width: 40px;
    height: 30px;
  }
}

.ico_arrow {
  background-image: url("/assets/svg/arrow.svg");
  width: 35px;
  height: 22.5px;
}
@media (max-width: 768px) {
  .ico_arrow {
    background-image: url("/assets/svg/bi_arrow-right.svg");
    width: 10px;
    height: 10px;
  }
}

.ico_inst {
  background-image: url("/assets/svg/inst.svg");
  width: 30.85px;
  height: 30.85px;
}

.ico_ytoub {
  background-image: url("/assets/svg/ytoub.svg");
  width: 33.65px;
  height: 26.65px;
}

.ico_twi {
  background-image: url("/assets/svg/twitter.svg");
  width: 31.84px;
  height: 25.88px;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.arrow-left {
  background-image: url("/assets/svg/left-slide.svg");
  height: 24.94px;
  width: 14.36px;
}

.arrow-right {
  background-image: url("/assets/svg/right-slide.svg");
  height: 24.94px;
  width: 14.36px;
}

.arrow-left.disabled {
  filter: opacity(50%);
}

.arrow-right.disabled {
  filter: opacity(50%);
}

.img1 {
  background: url("/assets/img/Lake story max.jpg") center center no-repeat;
}
@media (max-width: 414px) {
  .img1 {
    background: url("/assets/img/lake_story_min.jpg") center center no-repeat;
  }
}

.img2 {
  background: url("/assets/img/Road story max.jpg") center center no-repeat;
}
@media (max-width: 414px) {
  .img2 {
    background: url("/assets/img/Road_story_min.jpg") center center no-repeat;
  }
}

.img3 {
  background: url("/assets/img/Snow story max.jpg") center center no-repeat;
}
@media (max-width: 414px) {
  .img3 {
    background: url("/assets/img/snow_story_min.jpg") center center no-repeat;
  }
}

.img4 {
  background: url("/assets/img/Car_story_max.jpg") center center no-repeat;
}
@media (max-width: 414px) {
  .img4 {
    background: url("/assets/img/car_story_min.jpg") center center no-repeat;
  }
}

.slider__item:nth-child(1) {
  background: url("/assets/img/Stone max.jpg") center center no-repeat;
}
@media (max-width: 390px) {
  .slider__item:nth-child(1) {
    background: url("/assets/img/Stone mini.jpg") center center no-repeat;
  }
}

.slider__item:nth-child(2) {
  background: url("/assets/img/Gate max.jpg") center center no-repeat;
}
@media (max-width: 390px) {
  .slider__item:nth-child(2) {
    background: url("/assets/img/Gate min.jpg") center center no-repeat;
  }
}

.slider__item:nth-child(3) {
  background: url("/assets/img/bridge max.jpg") center bottom no-repeat;
}
@media (max-width: 390px) {
  .slider__item:nth-child(3) {
    background: url("/assets/img/Bridge min.jpg") center center no-repeat;
  }
}

body {
  flex: 1 1 auto;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1200px) {
  .adaptiv__wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 390px) {
  .adaptiv__wrapper {
    padding: 0 15px;
  }
}

/*
.general-wrapper {

overflow: hidden;
display: flex;
flex-direction: column;
min-height: 100%;
}*/
.layout-3-col {
  display: flex;
  justify-content: space-between;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
}

.header {
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  padding: 25px 0;
}
@media (max-width: 390px) {
  .header {
    background: transparent;
    box-shadow: 0px 0px 0px rgba(13, 96, 111, 0);
    padding-top: 44px;
  }
}

.background-header {
  margin: 0 auto;
  max-width: 1440px;
  background: url("/assets/img/Lake_header_max.jpg") top no-repeat;
}
@media (max-width: 390px) {
  .background-header {
    background: url("/assets/img/Lake header min.jpg") top no-repeat;
  }
}

.logo {
  font-family: "Magra";
  font-size: 3.2rem;
  font-weight: 600;
  font-style: normal;
  line-height: 39px;
  text-decoration: none;
  color: #fff;
  padding-right: 13px;
}

@media (max-width: 768px) {
  .logo-text {
    display: none;
  }
}

.preview__content {
  padding: 32px 308px 253px 0px;
}
.preview__content p {
  padding-bottom: 47px;
}
@media (max-width: 1200px) {
  .preview__content {
    padding: 32px 20px 253px 20px;
    text-align: center;
  }
}
@media (max-width: 390px) {
  .preview__content {
    padding: 33px 15px 62px 15px;
  }
}

h1 {
  padding-bottom: 34px;
}

@media (max-width: 390px) {
  .preview-text {
    display: none;
  }
}

.search-panel {
  background: rgba(250, 250, 250, 0.7);
  border-radius: 16px;
  padding: 18px 19px 18px 41px;
}
@media (max-width: 768px) {
  .search-panel {
    padding: 9px 9px 9px 16.55px;
  }
}

::placeholder {
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
  color: #F2785C;
}
@media (max-width: 768px) {
  ::placeholder {
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic;
  }
}

.input {
  flex: auto;
  background-color: transparent;
  font-size: x-large;
}
@media (max-width: 768px) {
  .input {
    flex: none;
    font-size: small;
  }
}

@media (max-width: 938px) {
  .navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.navigation__link a {
  font-family: "Red Hat Text";
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  padding-right: 42px;
}
@media (min-width: 939px) and (max-width: 1200px) {
  .navigation__link a {
    padding-right: calc(18px + 2vh);
  }
}
.navigation__link a:hover {
  cursor: pointer;
  color: #0D606F;
}

.burger-menu {
  width: 165px;
  height: 250px;
  position: absolute;
  top: 0px;
  left: calc(100vw - 165px);
  background: #F2785C;
  box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
  border-radius: 10px;
  display: none;
  padding: 41px 15px 44px 30px;
}

@media (max-width: 768px) {
  .burger-menu.active {
    display: block;
  }
}

.burger-menu__nav {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-end;
}

.nav__link a {
  font-family: "Red Hat Text";
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  color: #fff;
  padding-bottom: 10px;
}

.steps h2 {
  padding: 82px 0 38px 0;
  text-align: center;
  line-height: 53px;
}
@media (max-width: 768px) {
  .steps h2 {
    font-size: 2.7rem;
  }
}
@media (min-width: 391px) and (max-width: 1439px) {
  .steps h2 {
    padding-bottom: calc(16px + 2vw);
    padding-top: calc(8px + 5vw);
  }
}
@media (max-width: 390px) {
  .steps h2 {
    font-size: 1.4rem;
    font-weight: 500;
    font-style: normal;
    line-height: 18.52px;
    padding: 20px 0 21px 0;
  }
}

.tool__icon {
  width: 317px;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.tool__icon h4 {
  color: #0D606F;
}

.icon_block {
  background-color: #F2785C;
  width: 100px;
  height: 100px;
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
@media (max-width: 390px) {
  .icon_block {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
  }
}

@media (max-width: 390px) {
  .tool__icon:nth-child(1) {
    justify-content: flex-start;
    align-items: self-start;
    text-align: start;
  }
  .tool__icon:nth-child(1) h4 {
    width: 75px;
  }
}

@media (max-width: 390px) {
  .tool__icon:nth-child(2) {
    justify-content: flex-start;
  }
}

@media (max-width: 390px) {
  .tool__icon:nth-child(3) {
    align-items: self-end;
    text-align: end;
  }
}

.destinations h2 {
  padding: 108px 0 51px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .destinations h2 {
    font-size: 2.7rem;
  }
}
@media (min-width: 391px) and (max-width: 1439px) {
  .destinations h2 {
    padding-bottom: calc(16px + 2vw);
    padding-top: calc(8px + 5vw);
  }
}
@media (max-width: 390px) {
  .destinations h2 {
    font-size: 1.4rem;
    font-weight: 500;
    font-style: normal;
    padding: 25px 0 24px 0;
  }
}

.slider {
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;
}
@media (max-width: 390px) {
  .slider {
    max-width: 360px;
  }
}

.slider__item {
  border-radius: 16px;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
@media (min-width: 391px) and (max-width: 1439px) {
  .slider__item {
    width: 50vw;
    height: 50vw;
  }
}
@media (max-width: 390px) {
  .slider__item {
    border-radius: 16px;
    width: 360px;
    height: 210px;
  }
}

.item_selected {
  margin: 0 60px;
}
@media (max-width: 390px) {
  .item_selected {
    margin: 0px;
  }
}
@media (min-width: 391px) and (max-width: 1439px) {
  .item_selected {
    margin: 0 5vw;
  }
}

.slider-line {
  width: 2520px;
  height: 800px;
  display: flex;
  position: relative;
  left: -540px;
}
@media (max-width: 390px) {
  .slider-line {
    width: 1080px;
    height: 210px;
    left: 0px;
    transition: all ease 1s;
  }
}
@media (min-width: 391px) and (max-width: 1439px) {
  .slider-line {
    left: -30vw;
    height: 50vw;
  }
}

.slider__item-text {
  font-size: 3.2rem;
  font-weight: 500;
  font-style: normal;
  padding: 0px 0px 44px 17px;
}
@media (min-width: 391px) and (max-width: 1439px) {
  .slider__item-text {
    font-size: 2.3rem;
  }
}
@media (max-width: 390px) {
  .slider__item-text {
    font-size: 2rem;
    top: 11px;
    left: 15px;
  }
}

.slider-indicators {
  padding: 24px 0 40px 0;
  border: 3px splid navy;
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media (min-width: 391px) and (max-width: 1439px) {
  .slider-indicators {
    padding-bottom: calc(16px + 2vw);
    padding-top: calc(8px + 5vw);
  }
}
@media (max-width: 390px) {
  .slider-indicators {
    position: relative;
    padding: 0px;
    gap: 6px;
    top: -20px;
  }
}

.indicators {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: rgba(242, 120, 92, 0.5);
}
@media (max-width: 390px) {
  .indicators {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
}

.indicators_selected {
  background-color: #F2785C;
}

.destinations {
  padding-bottom: 80px;
}
@media (max-width: 390px) {
  .destinations {
    padding-bottom: 10px;
  }
}

.destinations {
  position: relative;
}

.slader-arrow {
  display: none;
}
@media (max-width: 390px) {
  .slader-arrow {
    position: absolute;
    left: 26px;
    top: 153px;
    z-index: 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 337px;
  }
}

.arrow {
  height: 24.94px;
  width: 14.36px;
}

.stories__title {
  text-align: center;
  position: relative;
  top: -85px;
  margin-top: 91px;
}
@media (min-width: 391px) and (max-width: 1439px) {
  .stories__title {
    margin-top: calc(25px + 3.6vw);
  }
}
@media (max-width: 768px) {
  .stories__title {
    font-size: 2.7rem;
  }
}
@media (max-width: 390px) {
  .stories__title {
    font-size: 14px;
    top: -23px;
    margin-top: 38px;
  }
}

.story-title {
  color: #0D606F;
  padding: 5px 0 26px;
}
@media (min-width: 391px) and (max-width: 945px) {
  .story-title {
    font-size: calc(9px + 2vw);
    padding-bottom: calc(7px + 1.5vw);
  }
}
@media (max-width: 414px) {
  .story-title {
    font-size: 1.6rem;
    font-weight: 700;
    font-style: normal;
    padding: 5px 0 12px;
  }
}
@media (max-width: 390px) {
  .story-title {
    font-size: 1.1rem;
    font-weight: 700;
    font-style: normal;
    padding: 5px 0 10px;
  }
}

.stories {
  background: rgba(255, 255, 255, 0.7);
  padding-bottom: 42px;
  position: relative;
}

.stories__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 39px;
}
@media (max-width: 414px) {
  .stories__list {
    gap: 15px;
  }
}

.layout-2-columns {
  display: flex;
  justify-content: space-between;
}

.story-img {
  width: 400px;
  height: 250px;
  border-radius: 16px;
  margin-right: 40px;
  filter: drop-shadow(0px 4px 4px #0D606F);
}
@media (max-width: 390px) {
  .story-img {
    margin-right: 10px;
  }
}
@media (max-width: 414px) {
  .story-img {
    width: 155px;
    height: 130px;
  }
}
@media (min-width: 391px) and (max-width: 945px) {
  .story-img {
    margin-right: calc(5px + 3vw);
  }
}

.story__descripton {
  width: 63.33%;
}
@media (max-width: 390px) {
  .story__descripton {
    width: 54.166%;
    display: flex;
    flex-direction: column;
  }
}

.story-text_wrapper {
  height: 144px;
  overflow: hidden;
}
@media (max-width: 414px) {
  .story-text_wrapper {
    height: 60px;
  }
}
@media (max-width: 390px) {
  .story-text_wrapper {
    height: 87px;
  }
}

.story-text {
  color: #0D606F;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  width: auto;
}
@media (min-width: 391px) and (max-width: 945px) {
  .story-text {
    font-size: calc(5px + 2vw);
    line-height: calc(5px + 2vw + 2px);
  }
}
@media (max-width: 414px) {
  .story-text {
    font-size: 11px;
    line-height: 13px;
  }
}
@media (max-width: 390px) {
  .story-text {
    font-size: 9px;
    line-height: 11px;
  }
}

._read-more-link {
  color: #0D606F;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  text-decoration: underline;
}
@media (max-width: 390px) {
  ._read-more-link {
    font-size: 9px;
    line-height: 11px;
  }
}
@media (min-width: 391px) and (max-width: 945px) {
  ._read-more-link {
    font-size: calc(5px + 2vw);
    line-height: calc(5px + 2vw + 2px);
  }
}

.background-footer {
  background: url("/assets/img/Lake footer max.jpg") bottom no-repeat;
}

.footer {
  padding: 12px 0;
}

.layot-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__text {
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  padding: 0px 337px 0px 0;
}

.footer-navigation__links {
  width: 141px;
}

/*# sourceMappingURL=style.css.map */
