/*font-family: 'Aleo', serif;
font-family: 'Magra', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Red Hat Text', sans-serif;*/
.navigation__link:hover, .button {
  transition: all 0.5s ease 0s;
}

.footer__text, .slider__item-text, .button, h2, body {
  font-family: "Red Hat Text ", sans-serif;
}

.footer-navigation__links, .tool__icon, .navigation, .search-panel, .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 10px;
}

body {
  font-size: 2.4rem;
  font-weight: 500;
  font-style: normal;
  color: #F2785C;
  font-family: "Aleo", serif;
}

h1 {
  font-size: 8rem;
  font-weight: 700;
  font-style: normal;
  color: white;
  line-height: 9.6rem;
}
@media (min-width: 391px) and (max-width: 1200px) {
  h1 {
    line-height: calc(2rem + 5vw);
    font-size: calc(2rem + 5vw);
  }
}
@media (max-width: 390px) {
  h1 {
    display: none;
  }
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
}

p {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}

.button {
  background-color: #0D606F;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(13, 96, 111, 0.5);
  color: black;
}

.header__button {
  padding: 10px 31px;
  font-size: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  line-height: 21px;
  letter-spacing: 0.1rem;
}
@media (max-width: 768px) {
  .header__button {
    display: none;
  }
}

.input__button {
  padding: 14px 33px;
  font-size: 2.4rem;
  letter-spacing: 0.06rem;
  line-height: 32px;
}

.button__link {
  display: flex;
  justify-content: center;
}

.button__link-container {
  padding: 18px 35px 18px 36px;
  display: flex;
  justify-content: space-between;
}

.logo-svg:hover .logo-path {
  fill: #0D606F;
}

.icon-bicycle {
  background-image: url("/assets/svg/bicycle.svg");
  width: 50px;
  height: 45px;
}

.icon-calendar {
  background-image: url("/assets/svg/calendar.svg");
  width: 52px;
  height: 52px;
}

.icon-plane {
  background-image: url("/assets/svg/plane.svg");
  width: 60px;
  height: 45px;
}

.ico_arrow {
  background-image: url("/assets/svg/arrow.svg");
  width: 35px;
  height: 22.5px;
}

.ico_inst {
  background-image: url("/assets/svg/inst.svg");
  width: 30.85px;
  height: 30.85px;
}

.ico_ytoub {
  background-image: url("/assets/svg/ytoub.svg");
  width: 33.65px;
  height: 26.65px;
}

.ico_twi {
  background-image: url("/assets/svg/twitter.svg");
  width: 31.84px;
  height: 25.88px;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

body {
  flex: 1 1 auto;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1200px) {
  .adaptiv__wrapper {
    padding: 0 20px;
  }
}

/*
.general-wrapper {

overflow: hidden;
display: flex;
flex-direction: column;
min-height: 100%;
}*/
.layout-3-col {
  display: flex;
  justify-content: space-between;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
}

.header {
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  padding: 25px 0;
}

.background-header {
  margin: 0 auto;
  max-width: 1440px;
  background: url("/assets/img/Lake_header_max.jpg") top no-repeat;
}

.logo {
  font-family: "Magra";
  font-size: 3.2rem;
  font-weight: 600;
  font-style: normal;
  line-height: 39px;
  text-decoration: none;
  color: #fff;
  padding-right: 13px;
}

.preview__content {
  padding: 32px 308px 253px 0px;
}
.preview__content p {
  padding-bottom: 47px;
}
@media (max-width: 1200px) {
  .preview__content {
    padding: 32px 20px 253px 20px;
    text-align: center;
  }
}

h1 {
  padding-bottom: 34px;
}

.search-panel {
  background: rgba(250, 250, 250, 0.7);
  border-radius: 16px;
  padding: 18px 19px 18px 41px;
}

::placeholder {
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
  color: #F2785C;
}

.input {
  flex: auto;
  background-color: transparent;
  font-size: x-large;
}

@media (max-width: 938px) {
  .navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.navigation__link {
  font-family: "Red Hat Text";
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  padding-right: 42px;
}
@media (min-width: 939px) and (max-width: 1200px) {
  .navigation__link {
    padding-right: calc(18px + 2vh);
  }
}
.navigation__link:hover {
  cursor: pointer;
  color: #0D606F;
}

.burger-menu {
  position: absolute;
  top: 0px;
  left: calc(100vw - 165px);
}

.burger-menu__nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  background: #F2785C;
  box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
  padding: 44px 13px 20px 42px;
  border-radius: 10px;
}

.nav__link {
  font-family: "Red Hat Text";
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  color: #fff;
  padding-bottom: 10px;
}

.burger-menu_button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  z-index: 10;
}

.show {
  display: none;
}

.burger-menu_lines:before,
.burger-menu_lines:after,
.burger-menu_lines {
  position: absolute;
  width: 100%;
  height: 2.67px;
  background-color: #e6d9e3;
  transition: 0.4s;
}

.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines:before {
  content: "";
  top: -8px;
}
.burger-menu_lines:after {
  content: "";
  top: 8px;
}

.steps h2 {
  padding: 82px 0 38px 0;
  text-align: center;
  line-height: 53px;
}

.tool__icon {
  width: 317px;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.tool__icon h4 {
  color: #0D606F;
}

.icon_block {
  background-color: #F2785C;
  width: 100px;
  height: 100px;
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.destinations h2 {
  padding: 108px 0 51px 0;
  text-align: center;
}

.slider {
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;
}

.slider__item img {
  border-radius: 16px;
  width: 800px;
  height: 800px;
}

.item_selected {
  margin: 0 60px;
}

.slider-line {
  width: 2520px;
  height: 800px;
  display: flex;
  position: relative;
  left: -540px;
}

.slider__item-text {
  font-size: 3.2rem;
  font-weight: 500;
  font-style: normal;
  position: relative;
  top: -77px;
  left: 19px;
}

.slider-indicators {
  padding: 24px 0 40px 0;
  border: 3px splid navy;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.indicators {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: rgba(242, 120, 92, 0.5);
}
.indicators_selected {
  background-color: #F2785C;
}

.link-button__text {
  padding-left: 13px;
}

.destinations {
  padding-bottom: 80px;
}

.stories__title {
  text-align: center;
  position: relative;
  top: -85px;
  margin-top: 91px;
}

.story-title {
  color: #0D606F;
  padding: 5px 0 26px;
}

.stories {
  background: rgba(255, 255, 255, 0.7);
  padding-bottom: 42px;
}

.stories__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 39px;
}

.layout-2-columns {
  display: flex;
  justify-content: space-between;
}
.layout-2-columns img {
  display: block;
  width: 400px;
  border-radius: 16px;
  margin-right: 40px;
  filter: drop-shadow(0px 4px 4px #0D606F);
}

.story-text {
  color: #0D606F;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

._read-more-link {
  color: #0D606F;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  text-decoration: underline;
}

.background-footer {
  background: url("/assets/img/Lake footer max.jpg") bottom no-repeat;
}

.footer {
  padding: 12px 0;
}

.layot-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__text {
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  padding: 0px 337px 0px 0;
}

.footer-navigation__links {
  width: 141px;
}

/*# sourceMappingURL=style.css.map */
