* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 10px;
}

body {
  font-size: 2.4rem;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
}

h1 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  color: white;
  line-height: 96px;
  letter-spacing: 0.02rem;
}

h2 {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
}

h3 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
}

h4 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

p {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

/*font-family: 'Aleo', serif;
font-family: 'Magra', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Red Hat Text', sans-serif;*/
.wrapper {
  max-width: 1200px;
  margin: auto;
}

.layout-3-col {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #0D606F;
  color: #fff;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background-color: #fff;
  color: black;
}

.header__button {
  padding: 10px 30px;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.header {
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  padding: 25px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background {
  margin: 0 auto;
  max-width: 1440px;
  background: url("/assets/img/Lake_header_max.jpg") top no-repeat;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  list-style: none;
  letter-spacing: 0.015rem;
  color: #fff;
  padding-right: 45px;
}

.logo {
  font-family: "Magra";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
  color: #fff;
  padding-right: 12px;
}

.preview__content {
  padding: 32px 308px 321px 0px;
}

h1 {
  width: 780px;
}

/*# sourceMappingURL=style.css.map */
