.destinations h2 {
    padding: 108px 0 51px 0;
    text-align: center;

    @include media-tablet {
        font-size: 2.7rem;
    }
    @include font-adaptiv_391-1440{
        padding-bottom: calc(16px + 2vw);
        padding-top: calc(8px + 5vw);
    }
    @include media-mobilesmall_burger {
        @include font(1.4rem, 500);
        padding: 25px 0 24px 0;
    }
}

.slider {
    max-width: $desktop-width;
    overflow: hidden;
    margin: 0 auto;

    @include media-mobilesmall_burger {
        max-width: 360px;
    }

}

.slider__item {
    border-radius: 16px;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: start;
    align-items: flex-end;

    @include font-adaptiv_391-1440 {
        width: 50vw;
        height: 50vw;
    }

    @include media-mobilesmall_burger {
        border-radius: 16px;
        width: 360px;
        height: 210px;
    }
}

.item_selected {
    margin: 0 60px;

    @include media-mobilesmall_burger {
        margin: 0px;
    }

    @include font-adaptiv_391-1440 {
        margin: 0 5vw;
    }
}

.slider-line {
    width: 2520px;
    height: 800px;
    display: flex;
    position: relative;
    left: -540px;

    @include media-mobilesmall_burger {
        width: 1080px;
        height: 210px;
        left: 0px;
        transition: all ease 1s;
    }

    @include font-adaptiv_391-1440 {
        left: -30vw;
        height: 50vw;
    }
}


.slider__item-text {
    @extend %font-family-add;
    @include font(3.2rem, 500);
    padding: 0px 0px 44px 17px;
    @include font-adaptiv_391-1440 {
      font-size: 2.3rem;;
    }
    @include media-mobilesmall_burger {
        font-size: 2rem;
        top: 11px;
        left: 15px;
    }
}

.slider-indicators {
    padding: 24px 0 40px 0;
    border: 3px splid navy;
    display: flex;
    justify-content: center;
    gap: 10px;
    @include font-adaptiv_391-1440 {
        padding-bottom: calc(16px + 2vw);
        padding-top: calc(8px + 5vw);
      }
    @include media-mobilesmall_burger {
        position: relative;
        padding: 0px;
        gap: 6px;
        top: -20px
    }
}

.indicators {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: rgba(242, 120, 92, 0.5);

    @include media-mobilesmall_burger {
        width: 8px;
        height: 8px;
        border-radius: 4px;
    }
}

.indicators_selected {
    background-color: $color-main-light;
}

.destinations {
    padding-bottom: 80px;
  
    @include media-mobilesmall_burger {
        padding-bottom: 10px;
    }
}

.destinations {
    position: relative;
}

.slader-arrow {
    display: none;

    @include media-mobilesmall_burger {
        position: absolute;
        left: 26px;
        top: 153px;
        z-index: 12;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 337px;
    }
}

.arrow {
    height: 24.94px;
    width: 14.36px;

}