.background-footer{
    background: url("/assets/img/Lake footer max.jpg") top no-repeat;
  
}
.footer{
   padding: 12px 0;}
.layot-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__text{

    @extend %font-family-add;
    @include font(1.6rem, 500);

    padding:0px 337px 0px 0 ;
}
.footer-navigation__links{
    width: 141px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

   
  

