.header {
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    padding: 25px 0;
    @include media-mobilesmall_burger{
      background: transparent;
      box-shadow: 0px 0px 0px rgba(13, 96, 111, 0.0);
      padding-top: 44px;
    }

    
}

.header__wrapper {
    @extend %flex_sp-betw_center;
} 

.background-header {
    margin: 0 auto;
    max-width: $desktop-width;
    background: url('/assets/img/Lake_header_max.jpg') top no-repeat;
    @include media-mobilesmall_burger{
        background: url('/assets/img/Lake header min.jpg') top no-repeat;
    }
}



.logo {
    font-family: 'Magra';
    @include font(3.2rem, 600);
    line-height: 39px;
    text-decoration: none;
    color: $color-additional;
    padding-right: 13px;

}
.logo-text{
    @include media-tablet{
        display: none;
    }
}