.navigation {
    @extend %flex_sp-betw_center;

    @media (max-width: 938px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
    }

    @include media-tablet {
        display: none;
    }
}

.navigation__link a {
    font-family: 'Red Hat Text';
    @include font(1.6rem, 500);
    color: $color-additional;
    padding-right: 42px;

    @media (min-width: 939px) and (max-width: $content-width) {
        padding-right: calc(18px + 2vh);
    }

    &:hover {
        cursor: pointer;
        color: $color-main-dark;
        @extend %transition;
    }
}

.burger-menu {
    width: 165px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: calc(100vw - 165px);
    background: #F2785C;
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    display: none;
    padding: 41px 15px 44px 30px;
}

.burger-menu.active {
    @include media-tablet{
    display: block;}

}

.burger-menu__nav {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-end;
}


.nav__link a {
    font-family: 'Red Hat Text';
    @include font(1.6rem, 500);
    line-height: 21px;
    color: $color-additional;
    padding-bottom: 10px;


}

