.preview__content {
    padding: 32px 308px 321px 0px;
}

h1 {
    padding-bottom: 32px;
}

.preview__content p {
    padding-bottom: 49px;
}

.search-panel {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    padding: 18px 19px 18px 41px;

}

::placeholder {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 25px;

    color: $color-main-light;}

.input{
    flex: auto;
    background-color: transparent;
    font-size: x-large;
   
}

