.steps h2 {
    padding: 82px 0 38px 0;

    text-align: center;
    line-height: 53px;

}

.tool__icon {
    width: 317px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & h4 {
        color: $color-main-dark;
    }
}

.icon_block {
    background-color: $color-main-light;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
