.steps h2 {
    padding: 82px 0 38px 0;

    text-align: center;
    line-height: 53px;

    @include media-tablet {
        font-size: 2.7rem;
    }
    @include font-adaptiv_391-1440{
        padding-bottom: calc(16px + 2vw);
        padding-top: calc(8px + 5vw);
    }
    @include media-mobilesmall_burger {
        @include font(1.4rem, 500);
        line-height: 18.52px;
        padding: 20px 0 21px 0;
    }
}

.tool__icon {
    width: 317px;
    flex-grow: 1;
    @extend %flex_sp-betw_center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

    & h4 {
        color: $color-main-dark;
    }
}



.icon_block {
    background-color: $color-main-light;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;

    @include media-mobilesmall_burger {
        width: 70px;
        height: 70px;
        margin-bottom: 20px;
    }
}

.tool__icon:nth-child(1) {
    @include media-mobilesmall_burger {
        justify-content: flex-start;
        align-items: self-start;
        text-align: start;

        & h4 {
            width: 75px;
        }

    }
}

.tool__icon:nth-child(2) {
    @include media-mobilesmall_burger {
        justify-content: flex-start;
    }
}

.tool__icon:nth-child(3) {
    @include media-mobilesmall_burger {
        align-items: self-end;
        text-align: end;
    }
}