html {
  font-size: 10px;
}

body {
  @extend %font-family-add;
  @include font(2.4rem, 500);
  color: $color-main-light;
  font-family: 'Aleo', serif;

}

h1 {
  @include font(8rem, 700);
  color: white;
  line-height: 9.6rem;

  @include font-adaptiv_1200-391 {
    line-height: calc(2rem + 5vw);
    font-size: calc(2rem + 5vw);
  }

  @include media-mobilesmall_burger {
    display: none;
  }

}

h2 {
  @extend %font-family-add;
  @include font(4rem, 500);
}

h3 {
  @include font(3.5rem, 400);
}

h4 {
  @include font(2rem, 400);

  @include font-adaptiv_391-767 {
    font-size: calc(0.61rem + 1.5vw);
  }

  @include media-mobilesmall_burger {
    font-size: 1rem;
  }
}

p {
  color: white;
  @include font(2rem, 700, italic);
}